#environments
.env
.env.*

#pycache
__pycache__/
*.pyc

#logs
logs/
*.log
*.log.*

#db
*.db

#virtual evn
venv/

#dockerfile
*.dockerignore

#pytestcache
.pytest_cache/

#vscode
.vscode/

#tempcode runner
tempCodeRunnerFile.py